/*
*font-family: 'Pacifico', cursive;
*font-family: 'Lato', sans-serif;
 */
html{
	height: 100vh;
}
body{
	 font-family: 'Lato', sans-serif;
	 color: #fff;
	 margin:0;
	 padding:0;
	 width: 100%;
	 height:auto;
	 @include background_main();
}

.logo{
	font-family: 'Pacifico', cursive;
	@include details_logo();
h1{
	font-size: 5em;
	}
	h5{
		font-family: 'Lato', sans-serif;
		line-height: 1.5em;
		font-size: $font_h5;
	}
}

.form-control{
	margin-top: 0.1em;
	margin-bottom: 0.5em;
}

.ask-input{
	color: black;
}

.register, .login{
	h4{
		font-size: $font_h4;
	}
}

.register, .login{
	button{
		@include button_style();
	}
	button:hover{
		@include button_style_hover();
	}

}

.firebaseSection{
	padding-bottom: 2em;
}

#logout{
	 background-color: transparent;
	 border:none;
	 padding: 0 0 0.5em 1em;
	 margin:0;
	 color:#fff;
}
.welcome{
	 vertical-align:middle;
}
.makeAQuestion{
	 text-align:center;
}
#generarAnswer{
	 @include button_style();
}
.imageResponse{
	 text-align:center;
}
.inputQuestion{
	 margin-bottom: 2em;
}

/* #answer h3{
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
} */
